.clinica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-bottom: 40px solid var(--page-main-color);
}

.clinicaContainer {
    display: flex;
    margin-bottom: 30px;
}

.clinicaImage {
    height: 430px;
    width: 430px;
    background-color: lightgrey;
}

.clinicaText {
    max-width: 590px;
    margin-left: 90px;
}

.clinicaText2 {
    max-width: 590px;
    margin-right: 90px;
    margin-left: 0;
}

.clinicaTextHeading {
    font-family: var(--font-heading);
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 40px;
}

.clinicaTextP {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 30px;
}

.clinicaText2 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 40px;
    margin-top: 30px;
    border: 2px solid var(--page-main-color);
    color: var(--text-color);
    border-radius: 40px;
    text-decoration: none;
    transition: 0.2s;
}

.clinicaText2 a:hover {
    background-color: var(--page-main-color);
    color: white;
}

@media only screen and (max-width: 1250px) {
    .clinica {
        flex-direction: column;
    }

    .clinicaImage {
        margin-right: 0;
        width: 300px;
        height: 300px;
    }

    .clinicaText {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
    }
}